/* Delete later begins */
html,
body {
  height: 100%;
  margin: 0;
  background-color: black;
  background: url("../img/bg.png");
  background-repeat: no-repeat;
}
/* Delete later ends */

/* General and reusable classes */
.rs-widget a {
  color: #0093cc;
}
.rs-input {
  padding: 15px 10px;
  display: block;
  width: 100%;
  font: inherit;
  margin-bottom: 20px;
}
.rs-submit {
  padding: 15px 10px;
  display: block;
  width: 100%;
  border-width: 0;
  border-radius: 3px;
	background-color: #3fb34f;
  font: inherit;
  color: #fff;
  margin-bottom: 10px;
}
.rs-submit:hover {
  cursor: pointer;
}
.rs-small-text {
  font-size: 0.875em;
}
.rs-small-headline {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2px;
}
.rs-sub-headline {
  color: #666;
  font-size: 0.92em;
}
.rs-big-headline {
  font-size: 1.625em;
  font-weight: normal;
  display: inline-block;
}
.rs-button {
  outline: 0;
  font: inherit;
  background-color: transparent;
  border:1px solid #dcdcdc;
  border-radius: 3px;
  cursor: pointer;
}
.rs-button-small {
  padding: 9px 9px;
  margin-left: 10px;
  transition: border-color 300ms ease-out;
  -webkit-transition: border-color 300ms ease-out;
}
.rs-button-wrap {
  display: table;
  margin-top: 10px;
}
.rs-button-big {
  padding: 15px 10px;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
  transition: box-shadow 200ms;
  display: table-cell;
  vertical-align: middle;
}
.rs-button-big span {
  display: table-cell;
}
.rs-button-big:hover {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 8px 0 rgba(0,0,0,0.2);
}
.rs-button-big:last-child {
  margin-bottom: 0;
}
.rs-icon {
  fill: #999;
  transition: fill 300ms ease-out;
  -webkit-transition: fill 300ms ease-out;
}


.rs-widget,
.rs-widget * {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
.rs-widget {
  max-width: 300px;
  color: #333;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 8px 0 rgba(0,0,0,0.2);
}
.rs-widget.rs-floating {
  width: 400px;
  height: 300px;
}


.rs-box {
  background-color: white;
  /*width: 100%;
  height: 100%;*/
  -webkit-clip-path: polygon(0% 0%, 90% 0%, 90% 8%, 95.5% 12.5%, 100% 9%, 100% 100%, 0% 100%);
  -webkit-filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, .3));
}


.rs-logo {
  float: left;
  margin-right: 10px;
}
.rs-floating .rs-logo {
  display: block;
  float: right;
  margin-top: -10px;
}

/* Initial Connect remote storage box */
.rs-box-initial:hover {
  cursor: pointer;
}
.rs-box-initial {
  overflow: hidden;
  white-space: nowrap;
  /*margin-left: 280px;*/
  -webkit-transition: margin-left 100ms linear;
  -webkit-transition: margin-top 100ms linear;
}
.rs-state-initial .rs-box-initial {
  padding: 2px 0 2px 0;
  display: block;
  /*margin-left: 0;*/
}
/*.rs-box-initial:hover {
  cursor: pointer;
}*/


/* Main logo */
.rs-main-logo {
  -webkit-transition: margin-left 300ms ease-out;
  -webkit-transition-delay: 300ms;
}

/* Choose provider box */
.rs-box-choose {
  clear: both;
  text-align: center;
  overflow: hidden;
  -webkit-transition: height 300ms ease-out;
  -webkit-transition-delay: 0ms;
}
.rs-state-choose .rs-main-logo {
  margin-left: 45%;
  -webkit-transition-delay: 0ms;
}
.rs-state-choose .rs-box-choose {
  height: 466px;
  transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
}
.rs-box-choose h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.rs-box-choose p {
  margin-top: 0;
  margin-bottom: 20px;
}


/* Sign in box */
.rs-box-sign-in {
  text-align: center;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 300ms ease-out;
}
.rs-box-sign-in h1 {
  margin-top: 0;
}
.rs-state-sign-in .rs-box-sign-in {
  /* Needs to be added into js later*/
  /*height: 466px; */

  -webkit-transition: none;
}
.rs-state-sign-in .rs-main-logo {
  margin-left: 45%;
  -webkit-transition-delay: 0ms;
}


/* Connected box */
.rs-box-connected {
  display: none;
  padding: 2px 0 2px 0;
}
.rs-state-connected .rs-box-connected {
  /*display: block;*/
}
.rs-box-connected .rs-user {
  font-weight: bold;
}
.rs-box-connected .rs-button {
  float: right;
}
.rs-disconnect:hover {
  border-color: #FF2D2D;
}
.rs-disconnect:hover .rs-icon{
  fill: #FF2D2D;
}
.rs-sync:hover {
  border-color: #FFBB0C;
}
.rs-sync:hover .rs-icon {
  fill: #FFBB0C;
}
.rs-sync.rs-rotate {
  border-color: #FFBB0C;
}
.rs-sync.rs-rotate .rs-icon {
  fill: #FFBB0C;
  -webkit-animation: rs-spin 1s linear infinite;
  -moz-animation: rs-spin 1s linear infinite;
  animation: rs-spin 1s linear infinite;
}
@-moz-keyframes rs-spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rs-spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rs-spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@media screen and (max-width: 320px) {
  .rs-widget {
    font-size: 80%;
    padding: 10px;
  }
  .rs-logo {
    height: 35px;
  }
}
