.rs-clearfix:before,
.rs-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.rs-clearfix:after {
  clear: both;
}
.rs-clearfix {
  zoom: 1; /* IE < 8 */
}

.rs-widget a {
  color: #0093cc;
}
.rs-small-headline {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2px;
}
.rs-sub-headline {
  color: #666;
  font-size: 0.92em;
}
.rs-big-headline {
  font-size: 1.625em;
  font-weight: normal;
  display: inline-block;
}
.rs-short-desc {
}
.rs-choose-backend {
  font-weight: bold;
}
.rs-button {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border:1px solid #dcdcdc;
  border-radius: 3px;
  cursor: pointer;
}
.rs-button-small {
  padding: 0.563em;
  margin-left: 0.625em;
  transition: border-color 300ms ease-out;
}
.rs-button-wrap {
  margin-top: 10px;
}
.rs-button-big {
  padding: 15px 10px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  text-align: left;
  transition: box-shadow 200ms;
}
.rs-button-big > div {
  font-size: 1.125em;
  padding: 10px 0;
}
.rs-button-big:hover {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 8px 0 rgba(0,0,0,0.2);
}
.rs-button-big:active {
  background-color: #eee;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 8px 0 rgba(0,0,0,0.2);
}
.rs-button-big:last-child {
  margin-bottom: 0;
}
.rs-icon {
  fill: #999;
  transition: fill 300ms ease-out;
}


/* Widget */
.rs-widget,
.rs-widget * {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
.rs-widget {
  max-width: 350px;
  color: #333;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 8px 0 rgba(0,0,0,0.2);
  transition: max-width 300ms ease-out 0ms, background 300ms linear 300ms, box-shadow 300ms linear 300ms;
}


/* Hide everything except logo when connected and clicked outside of box */
.rs-hide {
  max-width: 55px;
  background-color: transparent;
  box-shadow: none;
  opacity: 0.5;
  transition: max-width 300ms ease-out 300ms, opacity 300ms linear 0ms, background 300ms linear, box-shadow 300ms linear 0ms;
}
.rs-hide:hover {
  cursor: pointer;
  opacity: 1;
}


/* Initial Connect remote storage box */
.rs-box-initial {
  padding: 1px 0;
  margin-left: 45px;
  overflow: hidden;
  white-space: nowrap;
}
.rs-box-initial:hover {
  cursor: pointer;
}
.rs-state-initial .rs-box-initial {
  display: block;
}
.rs-state-choose .rs-box-initial {
  position: absolute;
}

/* Main logo */
.rs-main-logo {
  float: left;
  margin-right: 0.625em;
  transition: margin-left 300ms ease-out;
  transition-delay: 300ms;
  height: 40px;
  width: auto;
}
polygon.rs-logo-shape {
  fill: #FF4B03;
  transition-property: fill;
  transition-duration: 0.5s;
}
.rs-state-offline polygon.rs-logo-shape {
  fill: #888;
  transition-property: fill;
  transition-duration: 0.5s;
}

/* Choose provider box */
.rs-box-choose {
  clear: both;
  text-align: center;
  overflow: hidden;
  transition: height 300ms ease-out;
  transition-delay: 0ms;
}
.rs-box-choose-content {
  padding: 0 10px 10px 10px;
}
.rs-box-choose .rs-big-headline {
  margin-top: 20px;
  margin-bottom: 20px;
}
.rs-box-choose p {
  margin-top: 0;
  margin-bottom: 20px;
}
.rs-state-choose .rs-main-logo {
  margin-left: 45%;
  transition-delay: 0ms;
}
.rs-box-choose img {
  float: left;
  margin-right: 0.625em;
}
.rs-state-choose .rs-box-choose {
  transition-delay: 300ms;
}


/* Sign in box */
.rs-box-sign-in {
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-out;
}
.rs-sign-in-content {
  padding: 0 10px 10px 10px;
}
.rs-box-sign-in .rs-big-headline {
  margin-top: 0;
}
.rs-state-sign-in .rs-main-logo {
  margin-left: 45%;
}
.rs-sign-in-form input[type=text] {
  padding: 15px 10px;
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #aaa;
}
.rs-sign-in-form input[type=submit] {
  padding: 15px 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 3px;
	background-color: #3fb34f;
  font: inherit;
  color: #fff;
  transition: box-shadow 200ms, background-color 200ms;
}
.rs-sign-in-form input[type=submit]:hover {
  cursor: pointer;
  background-color: #4BCB5D;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 8px 0 rgba(0,0,0,0.2);
}
.rs-sign-in-form input[type=submit]:active {
	background-color: #3fb34f;
}

.rs-sign-in-error.hidden,
.rs-box-error.hidden {
  height: 0;
}

.rs-sign-in-error.visible,
.rs-box-error.visible {
  height: auto;
  border-radius: 3px;
  padding: 0.5em 0.5em;
  margin-top: 0.5em;
  text-align: center;
  background-color: rgba(255,0,0,0.1);
  color: darkred;
}

/* Connected box */
.rs-box-connected {
  display: none;
}

.rs-connected-text {
  float: left;
}
.rs-box-connected .rs-user {
  font-weight: bold;
}
.rs-box-connected .rs-button {
  float: right;
}
.rs-connected-buttons {
  float: right;
}
.rs-disconnect:hover {
  border-color: #FF2D2D;
}
.rs-disconnect:hover .rs-icon{
  fill: #FF2D2D;
}
.rs-sync:hover {
  border-color: #FFBB0C;
}
.rs-sync:hover .rs-icon {
  fill: #FFBB0C;
}
.rs-sync.rs-rotate {
  border-color: #FFBB0C;
}
.rs-sync.rs-rotate .rs-icon {
  fill: #FFBB0C;
  animation: rs-spin 1s linear infinite;
}
@keyframes rs-spin { 100% { transform: rotate(360deg); transform:rotate(360deg); } }


/* Floating widget styles*/
.rs-floating {
  position: fixed;
  top: 0;
  right: 0;
}
.rs-close {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
}
.rs-close:hover {
  cursor: pointer
}

/* Mobile styles */
@media screen and (max-width: 360px) {
  .rs-widget {
    font-size: 100%;
    padding: 10px;
    transition: all 300ms ease-out;
  }
  .rs-floating {
    position: relative;
    top: auto;
    right: auto
  }
  .rs-state-choose,
  .rs-state-sign-in {
    position: fixed;
    top: 0;
    margin: 0;
    border-radius: 0;
    height: 100%;
    max-width: 100%;
  }
  .rs-state-choose .rs-close,
  .rs-state-sign-in .rs-close {
    display: block;
  }
}
